/* style ref
TYPE
Karla{
  font-weight: 400 or 700;
  font-style: normal or italic;
}
COLOR{
  light grey: #e7e7e9
  orange: #f58537
  blue: #445c7a
  very dark blue grey: #15202e
}*/



/* GLOBAL STYLES*/
p, h1, h2, h3, li, a, .overlay {
  font-family: 'Karla', sans-serif;
  color: #15202e;
}

a{
  text-decoration: none;
  font-weight: 700;
}

img, svg {
  max-width: 100%;
}

body{
  margin: 0 auto;
}

li {list-style-type: none;
}



/*NAV*/
.navigation{
  width: 200px;
  height: 100%;
  /*background: grey;*/
  padding: 60px 10px 0px 30px;
  position: absolute;
  z-index: 5;
}

nav ul{
  margin-top: 2em;
  list-style-type: none;
  padding-left: 35px;
  font-size: 1.2em;
  line-height: 1.2em;
}

a:visited {
  color: #15202e;
}

li{
  margin-bottom: 1.5em;
}


.bgAnim{
  height: 100vh;
  pointer-events: none;
}

.bgAnim img{
  max-width: 100%;
  max-height: 100%;
}


/*FOOTER*/
footer{
  height: 200px;
  background: #e7e7e9;
}



/*HOMEPAGE*/
header{
  height: 100vh;
  /*background: red;*/
  /*
  background-image: url("images/single command tex.svg");
  background-size: 8%;
  background-repeat: repeat;
  */
}

main{
  height: auto;
  background-image: url("images/single command tex.svg");
  background-size: 8%;
  background-repeat: repeat;
}

/* photo grid */

.flex-grid {
  display: flex;
  flex-direction: row;
}
.col {
  flex: 1;
}

@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
}

* {box-sizing: border-box}


.container {
  position: relative;
  width: 100%;
  max-width: 650px;
  margin: 0px;
}


.img {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.container img, a {margin: 5px;
  display: block;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: #FFFFFF;
  color: #f58537;
  width: 100%;
  height: 100%;
  transition: .9s ease;
  opacity:0;
  color: #f58537;
  font-size: 21px;
  padding: 25px 25px 25px 25px;
  text-align: left;
  font-size: 1.5em;
  font-weight: 900;
  margin: 0px;
}

.indeximg {display: inline;}

.container:hover .overlay {
  opacity: .7;
}

.index {padding: 0px 0px 100px 0px;
}

@media screen and (min-width: 500px){
  .flex-grid2 {display: flex;
    flex-direction: row;
  }
  .col2 {
    flex: 1;
  }
}


.grid-container{
  width: 100%;
  padding: 15px;
}

.student-grid{
  display: grid;
  max-width: 400px;
  margin: 0 auto;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-gap: 15px;
}

.grid-item{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: red;
  padding: 0px;
}

.grid-item:hover .overlay{
  opacity: .7
}

.grid-item img, .grid-item a{
  margin: 0px;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 500px){
  .student-grid{
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    max-width: 700px;
  }
  .grid-container{
    padding: 20px;
  }
}

@media screen and (min-width: 720px){
  .student-grid{
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    max-width: 1000px;
  }
  .grid-container{
    padding: 35px;
  }
}

@media screen and (min-width: 1280px){
  .student-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
    max-width: 1440px;
  }
  .grid-container{
    padding: 100px;
  }
}





/* Bios */


.sidebyside{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 0px;
}

.bio-grid-container{
  width: 100%;
  padding: 15px;
}

.bio-grid{
  display: grid;
  max-width: 400px;
  margin: 0 auto;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-gap: 15px;
}

@media screen and (min-width: 500px){
  .bio-grid{
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    max-width: 700px;
  }
  .bio-grid-container{
    padding: 20px;
  }
}
