/* style ref
OLD STYLES: Karla{ font-weight: 400 or 700; font-style: normal or italic;}
Colors{light grey: #e7e7e9; orange: #f58537; blue: #445c7a; very dark blue grey: #15202e}

TYPE
Museo Sans{
  font-wright: 300 or 500 or 700 or 900;
  font-style: italic ONLY FOR 300 AND 500;
}
COLORS
light grey: #E7E7E9;
grey: #808285;
almost black: #414042;
lime green: #ABD037
*/



/* GLOBAL STYLES*/
p, h1, h2, h3, li, lh, a, .overlay {
  font-family: museo-sans, sans-serif;
  font-weight: 500;
  font-style: normal;
}

h1, p, h2 {text-align: center;
}

lh {font-weight: bold;
}

h1, h2 {padding: 100px 0px 0px 0px;
}

p {padding: 0px 20px 0px 20px;
}

@media screen and (min-width: 800px) {

p {padding: 0px 200px 0px 200px;
}
}

a{
  text-decoration: none;
}

img, svg {
  max-width: 100%;
}

body{
  margin: 0 auto;
}

li {list-style-type: none;
}

html{
  scroll-behavior: smooth;
}

iframe {
    width: 100%;
    height: 700px;
    margin: 0 auto;
    display: block;
}


.map {padding: 100px 0px 0px 0px;
}

/*NAV*/
.sticky-command{
  position: fixed;
  width: 52px;
}

.navigation{
  width: 200px;
  padding: 60px 10px 0px 30px;
  position: absolute;
  z-index: 5;
}

.navigation-top{
  padding: 20px 0px 20px 0px;
  /*padding: 20px 20px 10px 20px;*/
  height: auto;
  z-index: 5;
}

nav ul.menu{
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 0px;
}

nav ul img{
  width: 150px !important;
}



a:visited, h1, h2 {
  color: #414042;
}

nav ul li a{
  font-weight: 700;
  font-size: 1em;
  color: #114A7F;
  padding: 5px;
}

@media screen and (min-width: 600px){

nav ul li a{
  font-weight: 700;
  font-size: 1.3em;
  color: #114A7F;
}
}

nav ul li#not-current-page a{
  opacity: .5;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

nav ul li#not-current-page a:hover{
  opacity: 1;
}

nav ul li#current-page a{
  opacity: 1;
  border-bottom: solid 2px #ABD037;
}

@media screen and (min-width: 500px) {
.small-screen-menu {display: none;
}
}

@media screen and (max-width: 499px) {
.large-screen-menu {display: none;
}
.navigation-top{
  padding: 0px 0px 0px 0px;
  height: auto;
}
}

.small-screen-menu img {
  max-width: 45px;
}

/*FOOTER*/
footer{
  height: 200px;
  background: #e7e7e9;
  bottom: 0px;
}



/*HOMEPAGE*/
header{
  height: auto;
  /*background: red;*/
  /*
  background-image: url("images/single command tex.svg");
  background-size: 8%;
  background-repeat: repeat;
  */
}

main{
  height: auto;
}

.bgAnim{
  width: 100%;
  height: 75vh;
  pointer-events: none;
  z-index: -10;
  top: 0px;
}

.bgAnim img{
  max-width: 100%;
  max-height: 100%;
}

/*
.command-bg{
  background-image: url("images/single command tex.svg");
  background-size: 4%;
  background-repeat: repeat;
}
*/


/* photo grid */

.flex-grid {
  display: flex;
  flex-direction: row;
}
.col {
  flex: 1;
}

* {box-sizing: border-box}


.container {
  position: relative;
  width: 100%;
  max-width: 650px;
  margin: 0px;
}


.img {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.container img, a {margin: 5px;
  display: block;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: #FFFFFF;
  width: 100%;
  height: 100%;
  opacity: 0;
  color: #414042;
  font-size: 21px;
  padding: 25px 25px 25px 25px;
  text-align: left;
  font-size: 1.5em;
  font-weight: 900;
  margin: 0px;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

/*
.overlay span{
  position: absolute;
  bottom: 10%;
}
*/

.indeximg {display: inline;}

.index {padding: 0px 0px 100px 0px;
}

.grid-container{
  width: 100%;
  padding: 15px;
}

.student-grid{
  display: grid;
  max-width: 400px;
  margin: 0 auto;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 15px;
}

.grid-item{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0px;
}

.grid-item:hover .overlay{
  opacity: .7
}
.grid-item:hover img{
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

.grid-item img{
  margin: 0px;
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.grid-item a{
  margin: 0px;
}


@media screen and (min-width: 500px){
  .student-grid{
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    max-width: 700px;
  }
  .grid-container{
    padding: 20px;
  }
}

@media screen and (min-width: 720px){
  .student-grid{
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    max-width: 1000px;
  }
  .grid-container{
    padding: 35px;
  }
}

@media screen and (min-width: 1280px){
  .student-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
    max-width: 1440px;
  }
  .grid-container{
    padding: 100px;
  }
}





/* Bios */


.sidebyside{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 0px;
}

.sidebyside img{
  margin-bottom: 20px;
}

.bio-grid-container{
  width: 100%;
  padding: 15px;
  margin-top: 3vh;
  margin-bottom: 50px;
}

.bio-grid{
  max-width: 400px;
  margin: 0 auto;
}

h1.no-top-padding{
  font-size: 1.2em;
  margin-top: 0px;
  padding: 0px 0px 0px 25px;
  text-align: left;
}

h1.bold-h1{
  font-weight: 700;
  font-size: 2em;
  margin-bottom: 1em;
}

@media screen and (min-width: 500px){
  .bio-grid{
    display: flex;
    max-width: 900px;
  }
  .bio-grid-container{
    padding: 20px;
  }
}
